*{
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3.75rem;
}
header {  
    background: tomato;
    font-weight: bold;
    display: flex;
    width: 100%;
}
nav {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    line-height: 171px;
}
nav span {
    font-size: 25px;
}

.list {
    width: 50rem;
    margin: 50px auto;
    text-align: left;
    font-size: 1.875rem;
}
.list li img {
    margin-top: 1.875rem;
}
.var li img {
    margin-top: 1.875rem;    
}
img {
    display: block;
}

.wrap {
    padding: 75px 0;
    width: 75rem;
    margin: 0 auto;
}
.wrap li{
    margin-top: 80px;
}
.wrap li img{
    width: 42.9375rem;
    height: 396;
}

a {
    text-decoration: none;
    color: white;
}

.pad {
    list-style: none;
}

.var {
    list-style: none;
}

.font {
    font-size: 20px;
}


/*    banner    */
.banner {
    position: relative;
}
.gimch {
    width: 100%;
}
.banner h2 {
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 200px;
    color: white;
}
/*    banner    */