
h1 {
    font-size: 60px;
}
.gimch {
    margin: 50px 0;
}
.list {
    width: 800px;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    list-style: none;
}
.list li img {
    margin-top: 30px;
    margin-bottom: 50px;
}
img {
    display: block;
}
header {  
    height: 75px;
    padding: 1rem;
    color: white;
    background: tomato;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
  }
.wrap {
    padding-top: 75px;
}

.navi {
    display: flex;
    justify-content: space-between;
}
span {
    padding: 10px;
}
a {
    text-decoration: none;
    color: white;
}
.v_kimchi {
    width: 500px;
}
